/* Video Section */
.video-section {
    position: relative;
    width: 100%;
    height: 45vh;
    overflow: hidden;
}

.video-section .overlay {
    z-index: 1;
}

.banner-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* Highlighted Section */
.highlighted-section {
    background-color: #EEA873;
    padding: 4rem 0;
    text-align: center;
}

.highlighted-section .content-container {
    max-width: 1315px;
    margin: 0 auto;
    color: #000;
}

.highlighted-section h2 {
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 1.6;
}

/* Outreach Carousel Section */
.outreach-carousel-section {
    position: relative;
    z-index: 2;
    text-align: center;
    background: url('assets/pexels-neosiam-4498792.png') no-repeat center center;
    background-size: cover;
    color: #000;
    padding: 4rem;
}

.outreach-carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.32);
    z-index: -1;
}

.outreach-carousel-section h2 {
    font-size: 5.7rem;
    text-align: left;
    margin-bottom: 4rem;
    font-weight: 900;
}

.outreach-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 1rem;
    overflow-x: hidden;
}

.outreach-carousel-item {
    flex: 0 0 calc(100% / 3);
    width: 250px;
    flex-shrink: 0;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
}

.outreach-carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.outreach-carousel-item h3 {
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #109EB4;
    font-weight: 900;
}

.outreach-carousel-item p {
    font-size: 1.4rem;
    margin: 0.5rem 0 2rem;
}

.outreach-carousel-item .btn {
    background-color: #109EB4;
    color: white;
    border: 4px solid #59BEBE;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 900;
    text-transform: uppercase;
}

.outreach-carousel-item .btn:hover {
    background-color: #007E7E;
}

.outreach-carousel-section .carousel-controls {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.outreach-carousel-section .control-btn {
    background-color: #109EB4;
    color: white;
    border: 4px solid #59BEBE;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 900;
    margin: 0 1rem;
}

.outreach-carousel-section .control-btn:hover {
    background-color: #007E7E;
}