/* Video Section */
.video-section {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.video-section .overlay {
    z-index: 1;
}

.banner-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* Highlighted Section */
.highlighted-section {
    background-color: #EEA873;
    padding: 8rem 0;
    text-align: center;
}

.highlighted-section .content-container {
    max-width: 1315px;
    margin: 0 auto;
    color: #000;
}

.highlighted-section h2 {
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 1.6;
}

/* Outreach Carousel Section */
.outreach-carousel-section {
    position: relative;
    z-index: 2;
    text-align: center;
    background: url('assets/pexels-neosiam-4498792.png') no-repeat center center;
    background-size: cover;
    color: #000;
}

.outreach-carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.32);
    z-index: -1;
}

.outreach-carousel-section h2 {
    font-size: 5.7rem;
    text-align: left;
    padding: 4rem;
    font-weight: 900;
}

.outreach-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 1rem;
}

.outreach-carousel-item {
    flex: 0 0 auto;
    width: 250px;
    flex-shrink: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.outreach-carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.outreach-carousel-item h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.outreach-carousel-item p {
    font-size: 1rem;
    margin: 0.5rem 0 1rem;
}

.outreach-carousel-item .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #2A9D8F;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.outreach-carousel-item .btn:hover {
    background-color: #21867A;
}

.outreach-carousel-section .carousel-controls {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.outreach-carousel-section .control-btn {
    position: relative;
    background-color: #2A9D8F;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.outreach-carousel-section .control-btn:hover {
    background-color: #21867A;
}